@page "/testmvvm"

@using Piz.Blazor.Mobile.UI.Page
@using Piz.Blazor.Mobile.DemoApp.MVVM.View;


<Page PageTitle="Test MVVM" IsBackActive="false"> 
    <PageContent>
        
        <div class="wide-block pt-2 pb-2">
            
               <BasePersonView />
         </div>         
         
    </PageContent>
</Page>
