@page "/testbackpage"
@using Piz.Blazor.Mobile.UI.Page

<Page PageTitle="Page con back" IsBackActive="true">    
    <PageContent>               
          <div style="height:90vh; background-color:#5a595921; ">
              <h3>TestPageBack</h3>        
          </div>                    
    </PageContent>
    
</Page>
